/* Site title */

.site-title-wraper {
    background-color: #fff;
    min-height: 4em;
    padding-bottom: 5px;
}
.site-title-wraper a {
    color: dimgrey;
    font-size: 26px;
    vertical-align: middle;
}
.site-title-wraper a:hover {
    text-decoration: none;
}
.site-name {
    text-align: center;
    font-weight: 500;
}
div.site-name {
    padding-top: 10px;
}

/* user menu */
.site-navbar-wraper {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Play, "Noto Sans", serif;
}

#navigationUser {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}
#navigationUser a {
    max-width: 140px;
    text-decoration: none;
    align-items: flex-end;
    color: #fff;
}
#navigationUser a.profile.dropdown-item {
    color: #212529;
}

@media (max-width: 767px) {
    a.journal-name {
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    a.journal-name {
        font-size: 14px;
        margin-right: 0px;
    }
}

a.dropdown-item:active {
    color: #ddd;
}
 .user-nav {
    background-color: #363636;
}
.site-navbar-wraper {
    background: linear-gradient(#363636, #3d3d3d);
    border-bottom: 5px solid #d61635;
}
.site-navbar-wraper #navigationPrimary .nav-link, .pkp_page_article .site-navbar-wraper > a {
    color: white;
}

/* search form */
.search-input-tag {
    border-top: 0;
    border-top-left-radius: 0;
}

/* breadcrumb */
.breadcrumb {
    background-color: white;
    margin-top: 20px;
}

/* header logo */
.is_img.journal-name img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.is_img.journal-name {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.journal-logo {
    background-color: #363636;
}
.journal-logo a {
    margin-right: 0;
}

/* hide user menu on article page */
.show-user-menu {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    color: #d61635;
    cursor: pointer;
}
.show-user-menu.hidden {
    display: none;
}