/* Homepage image */
.homepage_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100% \9;
    max-height: 50vh;
}
.homepage-image-wrapper {
    margin-bottom: 20px;
    margin-top: -20px;
}

/* PKP sidebar */

.pkp_structure_sidebar {
    padding-top: 8px;
}

.pkp_structure_sidebar .pkp_block{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.pkp_block {
    margin-bottom: 30px;
}
.pkp_block .title {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    text-align: center;
}
.pkp_block .content {
    flex: 1 1 auto;
}
.pkp_block ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.pkp_block a {
    padding: .75rem 1.25rem;
    display: flex;
    color: dimgrey;
}
.pkp_block a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
    color: dimgrey;
}
.pkp_block li {
    border-radius: 0;
    position: relative;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
    display: block;
}
.pkp_block ul li:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/* custom blocks */
.pkp_block.block_custom .content {
    padding: .75rem 1.25rem;
}
.pkp_block.block_custom a {
    padding: 0;
}

/* submission block */
.block_make_submission .content {
    background-color: #868e96;
}

.block_make_submission .content a {
    color: white;
}
.block_make_submission .content a:hover {
    text-decoration: none;
    background-color: #60676f;
}

/* recent articles block */
.recent-articles-section-title h3, .journal-summary-title h3 {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    margin-left: -5px;
    margin-right: -5px;
    text-transform: capitalize;
}
.recent-articles-section-title {
    margin-bottom: 20px;
}
a.recent-article-title {
    color: black;
    font-size: 19px;
    display: block;
}
a.recent-article-title:hover {
    text-decoration: none;
    color: #404040;
}
.recent-wrapper{
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

/* all index page */
.index-page-content {
    margin-top: 50px;
}

/* recent issues block */
.recent-issues-slider {
    margin-bottom: 30px;
}

.recent-issues-slider h3 {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    margin-left: -15px;
    margin-right: -15px;
    text-transform: capitalize;
}

#carouselIndicators {
    margin-bottom: 30px;
}

#carouselIndicators .carousel-inner {
    border-radius: 5px;
}

/* journal summary */

.summary-content {
    padding: 10px 10px 20px 10px;
    text-align: justify;
}