.site-content {
    margin-top: 20px;
    margin-bottom: 100px;
}

/* submission */
.page.page_submissions h2 {
   font-size: 24px;
}

/* registration form */
.registration-info-title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Play, "Noto Sans", serif;
    font-size: 19px;
}
.reviewer legend {
    font-size: 19px;
}
.reviewer {
    margin-bottom: 20px;
}
.recaptcha_wrapper {
    margin-bottom: 20px;
}

fieldset.consent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.consent .fields {
    margin-bottom: 10px;
}

/* site-wide */
h3 {
    font-size: 24px;
    margin-top: 8px;
}
h4 {
    font-size: 22px;
    margin-top: 8px;
}